.profile {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 4px;
  padding: 5px;
  box-shadow: 7px 9px 11px #000;
  border-radius: 3px;
  color: #fff;
  background-color: rgba(59, 55, 248, 0.959);
}
.title-profile{
  font-weight: bold;
  font-size: 17px;
}
.profile-img{
  width: 150px;
  margin: 10px auto;
  padding: 0;
  display: block;
  img{
    max-width: 100%;
  }
}
.profile-info{
  line-height: 25px;
}
.social-title{
  margin-top: 25px;
}
.social-actions{
  margin: 10px 0;
  padding: 30px 20px;
  border-radius: 8px;
  background: url('../../imgs/social1.gif') 0 0 repeat;
  img{
    max-width: 15%;
    margin: 0 auto;
    padding: 0;
    transform: scale(1);
    transition: transform 1s;
      &:hover{
        position: relative;
        transform: scale(1.5);
        z-index: 1000;
      }
  }
}
