.log-content{
  background-color: rgb(94, 140, 240);
  margin: 15px auto;
  padding: 10px 0;
  width: 50%;
  border-radius: 3px;
  box-shadow: 5px 7px 11px rgb(63, 63, 63);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-log{
  font-weight: bold;
  text-align: center;
}
.log-form{
  margin: 0 auto;
}
.from-group{
  margin-bottom: 10px;
}
.log-content .form-control{
  transform: scale(1);
  transition: transform .5s;
  &:focus{
    transform:scale(1.1);
  }
}
.add-action{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 8px;
}
.btn-success {
  color: rgb(2, 43, 119);
  background-color: #fce300;
  border-color: #28a745;
  padding: 5px 20px;
}
.error-reg, .error{
  text-align: center;
  color: rgb(80, 7, 7);
}
@media (width: 1024px){
  .title-log{
    font-size: 21px;
  }
  .log-content{
    width: 80%;
    margin: 35px auto;
  }
  .form-control, .btn, .footer{
    font-size: 17px;
    padding: 0 5px;
  }
  .add-action{
    flex-direction: column;
    font-size: 11px;
  }
}
@media (width: 768px){
  .title-log{
    font-size: 19px;
  }
  .log-content{
    margin-top: 35px;
    width: 100%;
  }
  .form-control, .btn, .footer{
    font-size: 15px;
    padding: 0 5px;
  }
  .add-action{
    flex-direction: column;
    font-size: 11px;
  }
}
@media (max-width: 750px){
  .log-content{
    width: 100%;
  }
  .form-control, .btn, .footer{
    font-size: 13px;
    padding: 0 5px;
  }
  .add-action{
    flex-direction: column;
    font-size: 11px;
  }
}
